@model List<Appointment>
<div>
    <h1>Logged In User : @User.Identity.Name</h1>
    <h1>Appointment List</h1>
    <table style="border: solid 1px">
        <tr style="border: solid 1px">
            <th style="border: solid 1px">Id</th>
            <th style="border: solid 1px">Date</th>
            <th style="border: solid 1px">Patient Name</th>
            <th style="border: solid 1px">Doctor Name</th>
            <th style="border: solid 1px">Created By</th>
            <th style="border: solid 1px">Created Date</th>
            <th style="border: solid 1px">Modified By</th>
            <th style="border: solid 1px">Modified Date</th>
        </tr>
        @foreach (Appointment item in Model)
        {
            <tr style="border: solid 1px">
                <td style="border: solid 1px">@item.Id</td>
                <td style="border: solid 1px">@item.AppointmentDate</td>
                <td style="border: solid 1px">@item.User.FirstName</td>
                <td style="border: solid 1px">@item.Doctor.FirstName</td>
                <td style="border: solid 1px">@item.CreatedByNavigation.FirstName</td>
                <td style="border: solid 1px">@item.CreatedDate</td>
                <td style="border: solid 1px">@item.ModifiedByNavigation.FirstName</td>
                <td style="border: solid 1px">@item.ModifiedDate</td>
            </tr>
        }
    </table>
</div>